[Desktop Entry]
Exec=/[pathToWindowManager]/window-manager.sh -p [pathToWindowManager] -c [pathToConfigIni]
Name=Organize windows
Terminal=true
Type=Application

